<div>
  <!-- <mat-tab-group [ngStyle]="{ color: 'black' }">
    <mat-tab label="Home" href="/"> </mat-tab>
    <mat-tab label="Users" href="/users"> </mat-tab>
    <mat-tab label="Servers" href="/servers"> </mat-tab>
  </mat-tab-group> -->
  <ul class="header-container">
    <li>
      <a
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink=""
        >Home</a
      >
    </li>
    <li><a routerLink="users" routerLinkActive="active-link">Users</a></li>
    <li><a routerLink="servers" routerLinkActive="active-link">Servers</a></li>
  </ul>
</div>

<div>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</div>
