<p>
  <mat-toolbar>
    <span class="header-item" id="header-main" routerLink="/products"
      >New Sport</span
    >
    <ul class="subheader-box">
      <li routerLinkActive="active" class="subheader-item">
        <a routerLink="/products">Products</a>
      </li>
      <li
        routerLinkActive="active"
        class="subheader-item"
        *ngIf="isAuth === 'user'"
      >
        <a routerLink="/shopping-list">Shopping cart</a>
      </li>
      <li routerLinkActive="active" class="subheader-item" *ngIf="isAuth === 'admin'">
        <a routerLink="/management">Users Management</a>
      </li>
      <li id="toggle-btn" class="subheader-item">
        <ng-content select="a"></ng-content>
      </li>
    </ul>
    <div *ngIf="isAuth === 'visitor'">
      <span (click)="onLogin()" routerLink="/user-auth">User login</span> |
      <span (click)="onLogin()" routerLink="/admin-auth">Admin login</span>
    </div>
    <div *ngIf="isAuth === 'admin'" style="padding-top: 10px">
      <p>Welcome {{ userName }} ~</p>
    </div>
    <div *ngIf="isAuth === 'user'" style="padding-top: 10px">
      <p>Welcome {{ userName }} ~</p>
    </div>
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      id="toggle-menu"
      *ngIf="isAuth !== 'visitor'"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >menu</mat-icon
      >
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        routerLink="/shopping-list"
        *ngIf="isAuth === 'user'"
      >
        Shopping List
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >shopping_cart</mat-icon
        >
      </button>
      <button mat-menu-item *ngIf="isAuth !== 'visitor'">
        Logout
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          (click)="onLogout()"
          >logout</mat-icon
        >
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
