<div id="whole">
  <div class="sign-up-form">
    <div *ngIf="error" class="signuperror spinner">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" class="spinner">
      <app-spinner></app-spinner>
    </div>
    <form
      id="_form"
      #adminForm="ngForm"
      (ngSubmit)="onSubmit(adminForm)"
      *ngIf="!isLoading"
    >
      <h1>Admin Login</h1>
      <div class="one-col-input" id="one-col-input2">
        <input
          type="email"
          name="email"
          placeholder="Email Address"
          ngModel
          required
          email
        />
      </div>
      <div class="one-col-input" id="one-col-input1">
        <input
          type="password"
          name="password"
          placeholder="Password"
          ngModel
          required
          minlength="4"
        />
      </div>

      <div class="one-col-input">
        <button id="register-login" [disabled]="!adminForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
