<div>
  <div>
    <div *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" ngModel required email />
      </div>
      <div>
        <label for="password">password</label>
        <input
          type="password"
          name="password"
          id="password"
          ngModel
          required
          minlength="6"
        />
      </div>
      <div>
        <button type="submit" [disabled]="!authForm.valid">
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
      </div>
      <div>
        <button type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
