<div class="header">
  <app-header
    ><a type="button" (click)="drawer.toggle()"> explore now >> </a>
  </app-header>
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>gender</p>
    <p *ngIf="showFiller">xx</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>

<div class="footer">
  <app-footer></app-footer>
</div>
