.list-btn-container {
  position: fixed;
  top: 10%;
  left: 20%;
  z-index: 1;
}
.product-list {
  position: relative;
  height: 60%;
  overflow: auto;
}

/* button.list-btn {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */
