.list-btn-container {
  position: fixed;
  top: 10%;
  left: 20%;
  z-index: 1;
}
.product-list {
  position: relative;
  height: 60%;
  overflow: auto;
}
.spinner {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.empty-list {
  font-family: "Bebas Neue", cursive;
  font-family: "Dancing Script", cursive;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}
