<div class="product-list">
  <div class="list-btn-container">
    <button
      mat-raised-button
      color="primary"
      class="list-btn"
      (click)="onNewProduct()"
    >
      + New Product
    </button>
  </div>
  <br />
  <div *ngIf="isEmpty">
    <p>No Target Item! Please Try Other Keyword!</p>
  </div>
  <div [ngStyle]="{ width: '100%', padding: '0' }" *ngIf="!isEmpty">
    <app-product-item
      *ngFor="let product of products; let i = index"
      [product]="product"
      [index]="i"
    ></app-product-item>
  </div>
</div>
