.search-box {
  display: flex;
  justify-content: center;
}
form {
  width: 100%;
  margin-left: 10%;
}

#search {
  width: 80%;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

/* #search:active {
  width: 80%;
  height: 30px;
} */
