.search {
  width: 60%;
  margin-left: 20%;
  /* margin-top: 10px; */
  /* display: flex; */
  /* justify-content: center; */
}
a.button {
  font-size: 1.1rem;
  /* font-family: "Bebas Neue", cursive;
  font-family: "Dancing Script", cursive; */
}

a.button:hover {
  color: #b5838d;
}

mat-drawer-container {
  height: 600px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3%;
}
.app-product-list {
  overflow: auto;
  width: 40%;
}
.app-product-detail {
  width: 40%;
}
