<a
  type="button"
  class="button"
  (click)="drawer.toggle()"
  [ngStyle]="{ 'margin-left.px': 20 }"
>
  explore more >>
</a>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <form [formGroup]="searchForm" class="search-form" (ngSubmit)="onSubmit()">
      <div class="select-attribute">
        <p id="filter-title">Filter Area:</p>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <input
            matInput
            type="text"
            id="ProductTitle"
            name="ProductTitle"
            placeholder="Product Name"
            formControlName="ProductTitle"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-select
            name="Gender"
            id="Gender"
            formControlName="Gender"
            placeholder="Gender"
          >
            <mat-option value="Men">Men</mat-option>
            <mat-option value="Women">Women</mat-option>
            <mat-option value="Boys">Boys</mat-option>
            <mat-option value="Girls">Girls</mat-option>
            <mat-option value="Others">Others</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-select
            name="Category"
            id="Category"
            formControlName="Category"
            placeholder="Category"
          >
            <mat-option value="Footwear">Footwear</mat-option>
            <mat-option value="Apparel">Apparel</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <input
            matInput
            type="text"
            id="ProductType"
            name="ProductType"
            formControlName="ProductType"
            placeholder="ProductType"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <input
            matInput
            type="text"
            id="Usage"
            name="Usage"
            formControlName="Usage"
            placeholder="Usage"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <input
            matInput
            type="text"
            id="Colour"
            name="Colour"
            formControlName="Colour"
            placeholder="Colour"
          />
        </mat-form-field>
      </div>

      <div class="search-btn-box">
        <button type="submit" id="search-btn">search</button>
      </div>
    </form>
  </mat-drawer>

  <div class="main">
    <div class="app-product-list">
      <app-product-list></app-product-list>
    </div>
    <div class="app-product-detail">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
