.recipe-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe-list-box {
  width: 50%;
  height: 600px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.recipe-detail-box {
  width: 50%;
  height: 600px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}
