.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .start-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.start-title {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  font-family: "Dancing Script", cursive;
  color: #6d6875;
}
