<p>
  <mat-toolbar>
    <span class="header-item" id="header-main" routerLink="/recipes"
      >Recipe Book</span
    >
    <ul class="subheader-box">
      <li routerLinkActive="active" class="subheader-item">
        <a routerLink="/recipes">Recipes</a>
      </li>
      <li routerLinkActive="active" class="subheader-item">
        <a routerLink="/shopping-list">Shopping List</a>
      </li>
    </ul>

    <button mat-button [matMenuTriggerFor]="menu" id="toggle-menu">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >menu</mat-icon
      >
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/shopping-list" (click)="onSaveData()">
        store Recipes
      </button>
      <button mat-menu-item routerLink="/shopping-list" (click)="onFetchData()">
        Fetch Recipes
      </button>
      <button mat-menu-item routerLink="/shopping-list">
        Shopping List
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >shopping_cart</mat-icon
        >
      </button>
      <button mat-menu-item>
        Logout
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >logout</mat-icon
        >
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
