.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  font-size: 1.6rem;
  margin-left: 0;
}

.subheader-item {
  font-size: 1.2rem;
  display: block;
  list-style: none;
  text-decoration: none;
}

.subheader-box {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#toggle-menu {
  position: absolute;
  right: 3%;
}

a {
  text-decoration: none;
  color: #6d6875;
}

a:hover {
  transform: translateY(-3px);
  color: #b5838d;
}

.subheader-item:hover {
  transform: translateY(-3px);
}

.subheader-item.active {
  background-color: #ddbea9;
  border-radius: 100%;
}
